<%= link_to "home", root_path %> | <%= link_to "Ajouter une oeuvre", new_book_path %>
<h1>Les oeuvres</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %>
      <%= book.isbn %>
      <%= link_to "Editer", edit_book_path(book) %> |
      <%= link_to "Supprimer", book_path(book), method: :delete,
      data: { confirm: "Êtes-vous sûr?" } %>
    </li>
  <% end %>
</ul>
