<%= link_to "Home", root_path %> | <%= link_to "Les oeuvres", books_path %>
<h1>Ajouter une oeuvre</h1>

<%= simple_form_for @book do |f| %>
  <%= f.input :isbn %>
  <%= f.button :submit %>
<% end %>
