<%= link_to "Accueil", root_path %> | <%= link_to "Les oeuvres", books_path %>
<ul>
  <li>
    <%= @book.title %>
  </li>
</ul>
<%= link_to "Editer", edit_book_path(@book) %> |
<%= link_to "Supprimer", book_path(@book), method: :delete,
data: { confirm: "Êtes-vous sûr?" } %>
